exportPattern("^[[:alpha:]]+")
importFrom(magrittr,"%>%")
importFrom(purrr,"map")
importFrom(purrr,"map_df")
importFrom("graphics", "par", "text")
importFrom("stats", "lm")
importFrom("utils", "combn")
importFrom("grDevices", "dev.off", "heat.colors", "pdf")
importFrom("graphics", "barplot", "plot")
importFrom("stats", "density")
importFrom("utils", "stack", "write.csv")
